<div class="con">
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h4>No of Tickets</h4>
			<div class="row">
				<div class="col-sm-12">
					<form [formGroup]="bookingForm" (ngSubmit)="book()">
						<div class="row" style="margin-top: 20px;">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="number" min="1" max="7" formControlName="seatsToBook" class="form-control">
                </div>
								</div>
								<div class="col-sm-6">
									<button type="submit" [disabled]="!bookingForm.valid"
                                    class="btn btn-primary">Book</button>
								</div>
							</div>
					</form>
				</div>
				<div class="col-sm-12">
					<p class="text-primary msg">{{message}}</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">&nbsp;</div>
		<div class="col-sm-7">
			<h4>Seating</h4>
			<ng-container *ngIf="(data$ | async) as d">

				<p>Total:{{d.total}}   Booked: {{d.booked}}   Left: {{d.rem}}</p>
				<ng-container *ngFor="let r of d.seatChart">

					<div class="coach_row">
						<div class="circle rowx"> Row{{r.row}} </div>
						<ng-container *ngIf="r.row !== 12">

							<ng-container *ngFor="let n of sevenSeater;">
								<div class="circle seat" [ngClass]="checkBook(n,r.row,r.booked_seats) ? 'booked': ''">
									{{n + r.start-1}}</div>
							</ng-container>

						</ng-container>

						<ng-container *ngIf="r.row === 12">

							<ng-container *ngFor="let n of threeSeater;">
								<div class="circle seat" [ngClass]="checkBook(n,r.row, r.booked_seats) ? 'booked': ''">
									{{n + r.start-1}}</div>
							</ng-container>

						</ng-container>
					</div>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>
</div>
